<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ToDoList @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <header>
        <div class="bg-white border-bottom shadow-sm mb-4">
            <div class="container d-flex justify-content-center">
                <a class="fs-1 logo text-decoration-none text-black my-2" asp-controller="ToDoList" asp-action="Index">ToDoList</a>
            </div>
            <form asp-controller="ToDoList" asp-action="ChangeRepository" method="post" class="d-flex justify-content-center mb-3 gap-2">
                <select name="repository" class="form-select w-auto">
                    @foreach (RepositoryType repository in (RepositoryType[])Enum.GetValues(typeof(RepositoryType)))
                    {
                        if (CurrentRepository.repositoryType == repository)
                        {
                            <option value="@repository" selected>@repository</option>
                        } else
                        {
                            <option value="@repository">@repository</option>
                        }
                    }
                </select>
                <input type="submit" value="Change" class="btn btn-success" />
            </form>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
